@model CoreDemo.Models.TweetViewModel
@{
    ViewData["Title"] = "HomeTimelineAsync";
}
<h2>Search Results</h2>
<p>Keep in mind that Twitter provides several Search options. In this app, we are using the <a href="https://developer.twitter.com/en/docs/tweets/search/overview/standard">standard search</a>.</p>
<p>Also, keep in mind that the Tweets are <strong>constantly changing</strong> and ther may be some discrepancies when you are browsing through pages.</p>

<br /> <br />
@Html.Partial("_SearchForm", Model.SearchModel)

@if (Model.Tweets.Count() == 0)
{
    <h3>No more tweets returned by Twitter.</h3>
}
else
{
<table class="table">
    <tr>
        <th>
            Select
        </th>
        <th>
            ScreenName
        </th>
        <th>
            Text
        </th>
        <th>
            Created at
        </th>
    </tr>
    @foreach (var tweet in Model.Tweets)
    {
        <tr>
            <td>
                <input class="tweet-checkbox" type="checkbox" value="@tweet.Id" @(tweet.Selected ? "checked" : string.Empty)/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => tweet.ScreenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tweet.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tweet.CreatedAt)
            </td>
        </tr>
    }

</table>
}

@{
    var prevDisabled = !Model.HasPrevPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Feed"
   asp-controller="TwitterFeed"
   asp-route-pageIndex="@(Model.PageIndex - 1)" ,
   asp-route-hashTag="@(Model.SearchModel.HashTag)" ,
   asp-route-searchTerm="@(Model.SearchModel.SearchTerm)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Feed"
   asp-controller="TwitterFeed"
   asp-route-pageIndex="@(Model.PageIndex + 1)" ,
   asp-route-hashTag="@(Model.SearchModel.HashTag)" ,
   asp-route-searchTerm="@(Model.SearchModel.SearchTerm)"
   class="btn btn-default @nextDisabled">
    Next
</a>

<button id="save-to-file" class="btn btn-default">Save selected tweets to file</button>